<a class="text-decoration-none text-dark" href="/family/member/{{this._id}}">
  <div class="col">
    <div class="card border-light-subtle shadow-sm">
      <div class="card-body">
        <div class="row g-0">
          <div class="col-9">
            <div class="card-title fw-bold mb-0 text-truncate">{{this.firstName}} {{this.lastName}}</div>
            <small class="text-primary text-opacity-50 text-truncate">57 years</small>
          </div>
          <div class="col"></div>
          <div class="col-2 d-flex">
            <img class="justify-content-center align-items-center rounded-circle" src="https://ui-avatars.com/api/?name=John+Doe" style="width: 2.5rem; height: 2.5rem;" alt="">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col"><span class="badge bg-primary">8th generation</span></div>
        </div>
      </div>
    </div>
  </div>
</a>