<div class="container-fluid my-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-11 col-xl-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-11 col-xl-5">
              <h1>About Us</h1>

                <p class="fs-5">
                  FamTrack is a website dedicated to collecting and preserving information about your family history and its members.
                  Our mission is to help families discover, record, and share their unique stories and traditions for future
                  generations to enjoy.
                </pfs>

                <p>
                  Whether you're a genealogy enthusiast or simply curious about your family's past, FamTrack has everything you need
                  to get started. Our easy-to-use platform allows you to create and manage family trees, add photos and documents, and
                  connect with other family members around the world.
                </p>

                <p>
                  At FamTrack, we believe that every family has a story worth telling. Join us today and start exploring yours!
                </p>
          </div>
          <div class="col-12 col-xl-5"></div>
        </div>
        <div class="container mt-5">
          <div class="row row-cols-auto justify-content-start g-5 p-0">
            <div class="col-11 col-md-8 col-xl-5 p-0">
              <div class="row row-cols-auto row-cols-sm-3">
                <div class="col">
                  <div class="row row-cols-1">
                    <div class="col">
                      <img src="images/IP.png" class="img-fluid rounded-circle mb-3" alt="Indrajeet Patil" style="width: 7.5rem; height: 7.5rem"/>
                    </div>
                    <div class="col">
                      <h5 class="fw-bold mb-0">Indrajeet Patil</h5>
                      <p>Full Stack Developer</p>             
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row row-cols-1">
                    <div class="col">
                      <img src="images/AS.png" class="img-fluid rounded-circle mb-3" alt="Aron Seiffert" style="width: 7.5rem; height: 7.5rem"/>
                    </div>
                    <div class="col">
                      <h5 class="fw-bold mb-0">Aron Seiffert</h5>
                      <p>Full Stack Developer</p>             
                    </div>
                  </div>
                </div>            
                <div class="col">
                  <div class="row row-cols-1">
                    <div class="col">
                      <img src="images/HH.png" class="img-fluid rounded-circle mb-3" alt="Henrik Hellem" style="width: 7.5rem; height: 7.5rem"/>
                    </div>
                    <div class="col">
                      <h5 class="fw-bold mb-0">Henrik Hellem</h3>
                      <p>Full Stack Developer</p>             
                    </div>
                  </div>
                </div>  
              </div>
  
            </div>
            <div class="col-12 col-md-11 col-xl-5"></div>
          </div>
        </div>

      </div>  
    </div>
    </div>
  </div>
</a>