<div class="container-fluid d-flex flex-column">

  <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center flex-grow-1">

    <div class="col d-flex justify-content-start align-items-center">
      <div class="containe-fluid m-4">
        <h1 class="display-5 fw-bold">Family roots run deep with FamTrack</h1>
        <p class="fs-4">
          Discover your family history in a whole new way with FamTrack. Our interactive and visually appealing platform
          makes it easy to uncover new connections, learn about your ancestors, and share your journey with loved ones.
        </p>
      </div>
    </div>

    <div class="col d-flex justify-content-center align-items-center">
      <div class="container-fluid m-4">
        <div class="card">
          <div class="card-body">

            <h3 class="card-title mb-4">Sign up</h3>

            <form class="mb-0" action="/auth/signup" method="POST">

              {{! First name / Last name }}
              <div class="row">
                <div class="col">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      name="firstName"
                      placeholder="First name"
                      required
                    />
                    <label for="firstName">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      name="lastName"
                      placeholder="Last Name"
                      required
                    />
                    <label for="lastName">Last name</label>
                  </div>
                </div>
              </div>

              {{! Birthday }}

              <div class="row">
                <div id="birthdayHelp" class="form-text mb-1">Birthday</div>
                <div class="col-3">
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="birthDay" name="birthDay" placeholder="01" required />
                    <label for="birthDay">Day</label>
                  </div>
                </div>
                <div class="col-5">
                  <div class="form-floating mb-3">
                    <select class="form-select" aria-label="birth month" name="birthMonth" required>
                      <option value="1" selected>January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <label for="birthMonth">Month</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-floating mb-3">
                    <input
                      type="number"
                      class="form-control"
                      id="birthYear"
                      name="birthYear"
                      placeholder="2023"
                      required
                    />
                    <label for="birthYear">Year</label>
                  </div>
                </div>
              </div>

              {{! Username }}
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
                <label for="username">Username</label>
              </div>

              {{! Email }}
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
                <label for="email">Email</label>
              </div>

              {{! Password }}
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"
                  required
                />
                <label for="password">Password</label>
              </div>

              {{! Terms and Conditions }}
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="terms" id="terms" required />
                <label class="form-check-label" for="terms">I have read and agree to the
                  <a href="/terms" target="_blank">terms and conditions.</a></label>
              </div>

              <button type="submit" class="btn btn-primary mb-3">Submit</button>

              {{#if errorMessage}}
                <div class="alert alert-danger" role="alert">
                  {{errorMessage}}
                </div>
              {{/if}}

              <p class="mb-0">
                <small>Already have an account? <a href="/auth/login">Log in here.</a></small>
              </p>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>