<div class="container-fluid d-flex">
  <div class="row flex-grow-1 justify-content-center align-items-center">
    <div class="col-6">
      <h2 class="h2 fs-3 fw-bold">Get started</h2>
      <div class="d-grid gap-3">
        <a class="text-decoration-none text-dark" href="#">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add a new family</h5>
              <p class="card-text">Take the first step in discovering your family history! Click here, fill out the form, and start exploring your heritage. Your family story is waiting for you.</p>
            </div>
          </div>
        </a>
        <a class="text-decoration-none text-dark text-opacity-50" style="cursor: default" href="#">
          <div class="card border-opacity-50">
            <div class="card-body">
              <h5 class="card-title">Join an existing family (coming soon)</h5>
              <p class="card-text">Discover your roots and connections on FamTrack. Click here and start exploring your family history today.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>